/*RESET CSS*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-weight: inherit;font-variant: inherit;font-style: inherit;font-size: inherit;font-family: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: none;}
table {border-collapse: collapse;border-spacing: 0;}
header, footer, main{display:block;}
/*RESET CSS END*/

/*GENERAL*/
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url("../Fonts/Montserrat-Thin.woff2") format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../Fonts/Montserrat-Light.woff2") format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {font-family: 'sli3d';src:  url('../Fonts/sli3d.eot?bnqro5');src:  url('../Fonts/sli3d.eot?bnqro5#iefix') format('embedded-opentype'),
	url('../Fonts/sli3d.ttf?bnqro5') format('truetype'),url('../Fonts/sli3d.woff?bnqro5') format('woff'),url('../Fonts/sli3d.svg?bnqro5#icomoon') format('svg');
	font-weight: normal;font-style: normal;font-display: block;
}
@font-face {font-family: "SF Pro Display";
    src: url("../Fonts/SFproDisplay.eot"); /* IE9*/
    src: url("../Fonts/SFproDisplay.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../Fonts/SFproDisplay.woff2") format("woff2"), /* chrome firefox */
    url("../Fonts/SFproDisplay.woff") format("woff"), /* chrome firefox */
    url("../Fonts/SFproDisplay.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
	url("../Fonts/SFproDisplay.svg#SF Pro Display") format("svg"); /* iOS 4.1- */
	font-display: swap;
}
body{ font-family: SF Pro Display, serif;}
main{ width: 100%;overflow: hidden;transition: all .3s ease-in-out;}
section{background-color:#303135;width:94%;padding:6vh 3%; position: relative;min-height: 88vh;}
section.color2{background-color:#232427}
form{margin-top:2em;max-width: 900px;margin-left:5%;width:90%;display:block;overflow: auto;position:relative;overflow:hidden;}
a{ color:#1abc9c; text-decoration:none;	transition:color .3s; }
a:hover{color:white;}
h1, h2, h3{	font-size:2.3em; font-weight:600; line-height: 1em; text-transform:uppercase;}
h2{font-size:1.5em;margin-bottom:1.5em; font-family: Montserrat, serif;}
h3{font-size:1.3em; font-family: Montserrat, serif;}
p{line-height: 1.2em;text-indent:1em;margin-bottom:0.5em;}
cite{font-style: italic;}
li{list-style: disc;}
/*GENERAL END*/
/*ENTETE DE PAGE*/
header, footer{ position:absolute;background-color: transparent; padding:3%;z-index:2;}
header{ top:0;width:94%;z-index: 4;}
header h1{ display:none; width:100%; overflow: hidden; font-size:1em;	line-height:1.1em;	text-transform: uppercase; letter-spacing:0.05em;text-align: center; pointer-events: all;}
header h1 span{	font-weight:400; color:#1abc9c;	letter-spacing:1em; padding-left:1em;}
header h1 .subtitlelogo{letter-spacing:0.2em; color:white;padding-left:0.2em;}
header h1 img{ width:50px; height:50px}
header a, a.icon{ color:white; }
header a:hover, a.icon:hover{ color:#1abc9c; }
header nav{position: absolute; top:0; right:3%;display:flex;flex-wrap:wrap; margin: 0 auto;text-align: left;pointer-events: all;padding:3%;}
header nav .menu {display:block;flex-basis:100%;position:fixed;right:0;top:0%;height:100vh;background-color:#556270;width:200px;padding:50px 30px;transform:translateX(400px);}
header nav .menu li{list-style: none;display: block; padding-left:60px;opacity:0;font-size: 1.2em;line-height:2em ;font-family: Montserrat, serif;font-weight: 500;}
header nav .menu li a{display: inline-block;width: 100%; line-height: 40px;text-indent: 50px;background-repeat: no-repeat;background-position: left;}
header .menu-trigger, header .menu, header .menu li{transition-property: all;transition-duration: 0.3s;transition-timing-function: ease-in-out;transition-delay: 0s;}
header.show-menu #nav-icon{transform:translateX(-250px);}
header.show-menu .menu{transform:translateX(0px);}
header.show-menu .menu li{padding-left:0px;opacity:1;}
#nav-icon{
	position: fixed;display: block;overflow: auto;right:6%;top:6vh;width: 20px;height: 30px;
	-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);
	-webkit-transition: .3s ease-in-out;-moz-transition: .3s ease-in-out;-o-transition: .3s ease-in-out;transition: .3s ease-in-out;cursor: pointer;
}  
#nav-icon span{
	display: block;position: absolute;height:2px;width: 100%;background: white;opacity: 1;left: 0;-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {top: 0px;}
#nav-icon span:nth-child(2) {top: 6px;}
#nav-icon span:nth-child(3) {top: 12px;}
#nav-icon.open span:nth-child(1) {top: 6px;-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-o-transform: rotate(135deg);transform: rotate(135deg);}
#nav-icon.open span:nth-child(2) {opacity: 0;left: -60px;}
#nav-icon.open span:nth-child(3) {top: 6px;-webkit-transform: rotate(-135deg);-moz-transform: rotate(-135deg);-o-transform: rotate(-135deg);transform: rotate(-135deg); }
#contact-nav{background-image: url("img/IconesMenu-Contact-mini.png");}
#profil-nav{background-image: url("img/IconesMenu-Profil-mini.png");}
#portfolio-nav{background-image: url("img/IconesMenu-Portfolio-mini.png");}
#acceuil-nav{background-image: url("img/IconesMenu-Accueil-mini.png");}
footer{position:fixed;	bottom:0; font-size: 0.8em; padding-top:0; width: auto;text-align: right; right:0; line-height: 2em;width:94%;}
footer li{ display:inline-block; margin-bottom:0.5%; font-size: 0.8em; }
footer p{text-indent:0;margin:0;}
/*ENTETE DE PAGE END*/
/*LOADER*/
.loaderHTML {position: absolute;top: 50%;left: 50%;width: 6em;height: 6em;border-radius: 50%;transform: translate(-50% , -50%);display:none;}
.inner {position: absolute;box-sizing: border-box;width: 100%;height: 100%;border-radius: 50%;max-width:150px;max-height:150px;}
.inner.one {left: 0;top: 0;animation: rotate-one 1s linear infinite;border-bottom: 0.2em solid #1abc9c;max-width:150px;max-height:150px;}
.inner.two {right: 0;top: 0;animation: rotate-two 1s linear infinite;border-right: 0.2em solid #1abc9c;max-width:150px;max-height:150px;}
.inner.three {right: 0;bottom: 0;animation: rotate-three 1s linear infinite;border-top: 0.2em solid #1abc9c;max-width:150px;max-height:150px;}

@keyframes rotate-one {
	0% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
	100% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
@keyframes rotate-two {
	0% {transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
	100% {transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}
@keyframes rotate-three {
	0% {transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
	100% {transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}
/*LOADER*/
/*SECTIONS*/
#presentation{position :absolute; display:block; top:50%;left: 50%;z-index:1;transform:translate(-50%,-50%);text-align: center;font-size: 2em;}
#presentation h2{margin:0;font-weight: 100;font-family: Montserrat, serif;margin-bottom: 10px;} 
#presentation h2 span{display:inline-block;} 
#presentation #accueil-nav{font-size: 0.5em;margin-top:10%;display:flex;flex-direction: row;justify-content: center;}
#presentation #accueil-nav li{list-style: none;}
#presentation #accueil-nav .btn{width:100px;}
#presentation p{color:#bdbdbd;text-indent:0;font-size: 0.5em;border-top: #bdbdbd solid 1px;padding-top: 10px;width:70%;margin:0 auto;} 
#BG-Container{position :absolute; height:100vh;width:100%; top:0; left: 0;z-index:0;transition: height .3s ease-out;pointer-events: none;}
#BG-Container .slideBG{	height:100vh;width: 100%;position: absolute;background-size: cover;background-repeat: no-repeat;background-attachment: fixed;background-position: center 0px;
transform-origin: center;pointer-events: none;  min-width: 100%;
  min-height: 100%;}
#BG-Container .caption{position:absolute;background-color: transparent;padding:3%;font-size: 0.7em;bottom:0;text-shadow: 0 1px 5px rgba(0,0,0,.2);color: #fff9;}
#portfolio-travaux-stephane-lieumont{padding-left:0;padding-right:0;padding-bottom: 150px;width:100%;overflow: hidden;
		background-color: #232427;height:100vh; transition: all 1s ease-out;min-height: 500px;}
#profil-stephane-lieumont-graphiste3d-toulouse article, #skills{width:48%;}
#profil-stephane-lieumont-graphiste3d-toulouse article{float:left;}
#profil-stephane-lieumont-graphiste3d-toulouse article p{overflow: hidden}
#profil{display:flex; flex-wrap: wrap; justify-content: center; width: 100%;overflow: hidden;}
#profil article, #profil #skills{margin-bottom: 30px;}
#profil article{display:flex; flex-wrap: wrap; justify-content: center;margin-right: 30px;}
#profil article h2{width:100%;overflow: hidden;}
#profil article #description{width:70%;}
#profil #skills{flex-grow: 2;}
#profil #CV { text-align: center; margin-bottom:15px;}
#profil .btn{text-align:center;border:none;margin:0!important}
#profil figure {margin:1em;overflow: hidden;}
#profil figure img{height:8em;}
#skills .Progress-skill{position:relative;display:block;height:2em;background:#3c3d42;margin: 10px 0;text-indent:10px;line-height:2em;text-transform:uppercase;}
#skills .Progress-color1{background:#9e77e1;}
#skills .Progress-color2{background:#7781d6;}
#skills .Progress-color3{background:#36bdd3;}
#skills .Progress-color4{background:#63cdb9;}
#skills .Progress-color5{background:#92e5bb;}
#skills .Progress-skill-inner{position:absolute;display:block;top:0;left:0;height:100%;width:0;padding:0;}
#skills .Progress-skill-txt{position:absolute;top:0;left:0;}
#logiciels {overflow:show;width:90%;margin: 0 auto;}
#logiciels h4{text-align: center;letter-spacing: 0.3em;color:#1abc9c;text-transform: uppercase;margin-top:30px;}
#logiciels .icon-list{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;font-size: 3em;margin: 0 auto;overflow: show;margin-top:50px;}
#logiciels .icon-list li{display:block; list-style: none;min-width:150px;height:155px;}
#logiciels .SLI3D-icon{display:block;width:100%;}
#contact-stephane-lieumont-graphiste-3d form {z-index: 2;margin-bottom:10vh;}
#contact-stephane-lieumont-graphiste-3d .parallax{position:absolute; bottom:0; right:0;height:100%;width:100%;background-size: initial!important;}
#contact-stephane-lieumont-graphiste-3d h2{position:relative;}
#ScrollTop{position:fixed;bottom:3%;left:3%;height:50px;width:50px;z-index: 3;}
#ScrollTop a{display: block;line-height: 50px;width:50px;border-radius:12px;text-indent: 9999px;overflow: hidden;opacity: 0.4;transition: opacity .2s ease-in-out;background:no-repeat url("img/ScrollTop.png") center;background-size: 100% 100%;border-radius: 10px;}
#ScrollTop a:hover{opacity: 0.8;}
/*SECTIONS END*/
/*CLASSES*/
.reveal{transform: translateY(60px);transition-property: all;transition-duration: 1s;transition-timing-function: cubic-bezier(0,.45,.45,1);opacity: 0;}
.zoom{animation: zoomEffect 20s linear;}
@keyframes zoomEffect {0% {transform: scale(1);}100% {transform: scale(1.3);}}
.delay1{transition-delay: 0.1s!important;}
.delay2{transition-delay: 0.2s!important;}
.delay3{transition-delay: 0.3s!important;}
.delay4{transition-delay: 0.4s!important;}
.ProgressSlideBG{position:absolute;top:0;left:0;height:2px;width:50px;background-color: #1abc9c;}

.reveal-show{transform: translateY(0);  opacity: 1;}
.marginStd{padding-left: 3%; padding-right: 3%; width:94%}
.separator{height:0.05em;min-height: 1px;background:#fff;overflow:auto;padding:0;width:90%;	margin:5vh 5%;}
.btn{
	display:inline-block;background:none;border:2px solid white;color:white;margin:0.2em 10px;padding:0 1em;border-radius:2em;line-height: 2em;
	cursor:pointer;text-decoration:none;padding-bottom:2px;transition: color .3s, border .3s;font-size:1em;
}
.btn:hover, .btn.active{border-color:#1abc9c;color:#1abc9c;}
.active{color:#1abc9c; pointer-events: none;}
.disabled{opacity:0.3;cursor:default!important; pointer-events: none;}
.form-group{overflow:hidden;text-align:left;}
.form-group label{width:100%;margin:0.5em 0;display:block;}
.form-group textarea{height:35vh;padding:1%!important;width:97%!important;}
.form-group .form-control{font-family: 'Oxygen', sans-serif;font-weight:400;font-size:1em;line-height: 1.2em;padding:5px 2%;width:96%;border-radius:5px;border:none;text-align:left}
[class*="col-xs-"]{float:left;margin-right:1%;text-align:center;}
.col-xs-2{width:24%;}
.col-xs-4{width:32.33%;}
.col-xs-6{width:49%;}
.col-xs-12{width:100%;margin-left:0;}
.help-block{display:block;height:1em;line-height: 1em;padding:0.2em;font-size:0.7em;overflow: auto;}
.has-error {color:#e74c3c!important;}
.has-success {color:#1abc9c!important;}
.success{border-color:#27ae60!important;color:#27ae60!important;opacity:1!important;}
.icon-list{text-align:center}
.icon{display:inline-block;font-size:2em;padding:3px;}
.txt-icon{display:block;text-indent:-9000px;position:absolute;overflow:hidden;}
.SLI3D-icon {font-family: 'sli3d', sans-serif !important;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;
	line-height: 1;vertical-align:middle;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-CV:before {content: "\e912";}
.icon-Portfolio:before {content: "\e910";}
.icon-About:before {content: "\e911";}
.icon-MoveDown:before {content: "\e90e";}
.icon-Mail:before {content: "\e90f";}
.icon-Photoshop:before {content: "\e902";}
.icon-Premiere:before {content: "\e905";}
.icon-AfterEffect:before {content: "\e906";}
.icon-Illustrator:before {content: "\e901";}
.icon-Substance-Designer:before {content: "\e907";}
.icon-Substance-Painter:before {content: "\e908";}
.icon-Zbrush:before {content: "\e904";}
.icon-3DSmax:before {content: "\e900";}
.icon-Vray:before {content: "\e903";}
.icon-Corona:before {content: "\e909";}
.icon-ArtStation:before {content: "\e90a";}
.icon-Linkedin:before {content: "\e90b";}
.icon-Twitter:before {content: "\e90c";}
.icon-Facebook:before {content: "\e90d";}

.grecaptcha-badge{position: absolute!important;}
.links{font-size: 12px;line-height: 12px;}
/*CLASSES END*/
/*MEDIA QUERY*/
@media (max-width:1200px){
	#profil article #description, #profil article, #skills{width:100%!important;}
}
@media(max-width:800px){	
	#presentation{width:80%;}
	#accueil-nav{margin-top:30px!important;}
}
@media(max-width:700px){
	#presentation h2{font-size: 1em;}	

}
@media (max-width:600px){
	#BG-Container .caption{visibility:hidden!important;display:none;}
	footer{text-align: center;}
	#presentation .btn{padding-left: 5px;padding-right: 5px;}
	#accueil-nav{
		flex-direction: column !important;
	}
	#accueil-nav li{
		margin: 5px auto;
	}
}
@media(max-height:550px){	
	body{font-size: 0.8em;}
	#presentation h2{font-size: 1em;}
	#presentation{top:60%;}	
}
@media(max-height:350px){	
	#accueil-nav{
		margin-top:10px!important;
	}
	.caption{padding:15px 3%!important;}
	#presentation{top:55%;}
	header h1{ font-size:0.7em;}
	header h1 img{ width:30px; height:30px}
}
/*MEDIA QUERY END*/
/* PORTFOLIO CLASS */
.grid-loader{position:absolute;left: 0;width: 100%;height: 100%;z-index:2;background-color: #232427;}
.grid-loader img{position:absolute;top:100px;left:50%;height:3em;width:3em;transform: translateX(-50%);}
.grid-loader .loader-progressbar{position:absolute;top:130px;left:50%;display:block;width:15em;margin: 3em 0;height:0.2%;min-height:1px;background:#17181a; transform: translateX(-50%);}
.grid-loader .loader-progressbar-inner{display:block;width:0;height:100%;background:#1abc9c;transition: width .3s ease-in;}
.grid-load {position: absolute;top: 92px;left: 50%;width: 4em;height: 4em;border-radius: 50%;transform: translateX(-50%);}
.grid-container{width: 100%;}
.grid-content{display:flex;justify-content: left;flex-direction: row;flex-wrap: wrap;width: 100%;perspective:1200px;perspective-origin: top left;}
.grid-menu {margin-bottom:50px;}
.grid-menu ul{display:flex;	flex-wrap: wrap;}
.grid-menu ul li{list-style: none;}
.grid-menu .btn{margin-left:0;font-size:0.8em;padding-bottom: 0;}
.grid-item{	position: relative;overflow:hidden;flex-shrink: 0;width:14.284%;transform: translate3d(50px,0px,150px) rotate3d(1, 0, 0, 50deg);
	transition-property: transform, opacity;transition-duration: 0.4s;transition-delay: 0.3s;opacity:0;}
.grid-item.transition-show{transform: translate3d(0px,0px,0px) rotate3d(0, 0, 0, 0deg);opacity:1;}
.grid-item img{width:100%;height:auto;display:block;}
.grid-item .grid-hover-wrap{position: absolute;text-align: center;width:91%;height: 90%;padding:5%;color:white;background-color: rgba(0,0,0,.8);
	opacity:0;transition: opacity .3s ease-in-out;}
.grid-item .grid-hover-wrap .icon-list{position: absolute;width:100%;bottom:30%;left:50%;transform: translate(-50%, 200%);
	font-size: 0.8em;opacity: 0;transition: all .3s ease-in-out .05s;}
.grid-item .grid-hover-wrap .title-thumb{position: absolute;width:100%;text-indent: 0;top:20%;left:50%;transform: translate(-50%, 200%);
	font-size: 1.1em;opacity: 0;transition: all .3s ease-in-out;}
.grid-item .grid-hover-wrap .date{float:left;width: 100%;font-size:0.7em;}
.grid-item .grid-hover-wrap:hover{opacity:1;}
.grid-item .grid-hover-wrap:hover .icon-list, .grid-item .grid-hover-wrap:hover .title-thumb{opacity:1;	transform: translate(-50%, 0%);}
.desactive{pointer-events: none!important;}
.btn.desactive{color:#808080!important;border-color:#808080!important;}
/* PORTFOLIO CLASS END */
/* MEDIA QUERY PORTFOLIO */
@media (max-width:1300px){
	.grid-item{width:25%;}
}
@media (max-width:800px){
	.grid-item{width:33.3333%;}
	.grid-item .grid-hover-wrap{font-size: 0.8em;height:75%;padding-top:20%;padding-bottom:5%;}
	.grid-item .grid-hover-wrap .date{font-size: 0.7em;}	
}
/* MEDIA QUERY PORTFOLIO END*/